[MAIN]
jobs=0
ignore=CVS,
       .git,
       __pycache__,
       .pytest_cache,
       venv,
       .venv,
       env,
       .env,
       node_modules,
       build,
       dist

[MESSAGE CONTROL]
disable=missing-module-docstring,
       broad-exception-caught,
       protected-access,
       too-few-public-methods,
       import-outside-toplevel,
       too-many-instance-attributes,
       too-many-lines,
       too-many-ancestors,
       too-many-locals

[TYPE_CHECKING]
generated-member=__wrapped__
